
.SM-container-nft{
    padding: 1.37rem 1.88rem 4rem 1.69rem;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 100%;
    background: var(--Dark, #161D26);
}
.SM-container-nft .SM-part-one{
    width: 77%;
    height: 100vh;
   
}
.SM-container-nft .SM-part-two{
    width:23%;
    height: 59.5rem;
}